body
{
	font-style: arial, verdana, helvetica, sans-serif;
	font-size:12pt;
	background-color:#ddd;
	width:70%;
	margin-left:15%;
}




#menu
{
	background-color:#ddd;
	float:left;
	padding-left:.5em;
	padding-right:.5em;
}

#menu ul
{
	list-style:square;
	
}



/*
#header
{
	background-color:#666;
}

#header img
{
	margin:none;
	padding:none;
	border:none;
	float:right;
}
*/



#maintitle
{
	
	text-align:center;
	color:#0000aa;
	margin:0px .5em 0px .5em;
}



#content
{
	background-color:#eee;
}



#footer
{
	background-color:#666;
}

#berlioslogo
{
	border:none;
	padding:none;
	margin:none;
	vertical-align:middle;
}