body {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 12pt;
	margin:0 1em 0 1em;
}


/* general settings */
ul {
	list-style:square;
}


code {
	font-style:italic;
}
/* end of general settings */



/* top header with site title */
div#top {
	padding:0;
	margin:0;
}

div#top h1#title {
	font-style: italic;
}

div#top img#berlios {
	float:right;
	border:none;
	
	width:124px;
	height:32px;
}

/* end of top header */



/* menu */

div#main_menu, div#news {
	border:1px #6B788F solid;
	position:relative;
	width:20%;
	float:right;
	text-align:center;
}

div#news {
	border-top:0;
}

div#main_menu ul {
	padding:1em;
	margin:0;
	list-style: none;
	text-align:left;
}

div#main_menu li {
}

div#main_menu li a{
	text-decoration:none;
}

/* end of menu */


/* main part starts here*/

div#body {
	border-top:1px #6B788F solid;
	width:79%;
	float:left;
}

h2.section_title {
	margin-top:0;
	text-align: right;
	color:#6B788F;
	background-color:transparent;
}

div#body div#footnotes {
	border-top:1px #6B788F solid;
	font-size: 9pt;
}

div#mail {
	
}

div#validators {
	float:right;
}



div#license{
	margin:1em 0 1em 0;
}

img#cc {
	border:0;
}

/* end of main part */